body {
	font-family: Arial;
	font-weight: bold;
	background-color:white;
}



#dk_options_inner {
	padding-left: 0px;
}

.topview {
	width: 98%;
	border-radius: 3px;
	margin: 10px auto 20px auto;
	padding: 10px 10px 0px 10px;
	background-color: #EEEEEE;
	box-shadow: 0 0 9px 1px black,inset 0 0 5px 0.1px black;
}

#graphicview {
	width: 70%;
	float: left;
	overflow: auto;
	height: 60%;
}

#selectionview {
	width: 98%;
	height: 40%;
	background-color: #274779;
	box-shadow: 0 0 9px 1px black,inset 0 0 0px 1px #173060;
	padding: 10px 1% 50px 1%;
}

hr {

	border-top-color: #274779;
	border-bottom-color: #EEEEEE;
}
.subselectionview {
	float: left;
	border-radius: 2px;
	background-color: #EEEEEE;
	width: 33%;
	margin: 10px 0.25% 10px 0.25%;
	height: 95%;
	padding: 0px 0.0% 0px 0.0%;
	padding-bottom: 15px;

	text-shadow: 0 0px 10px #FFFFFF, 0 1px 1px #666666;
	box-shadow: 0 0 10px 1px black,inset 0 0 1px 1px #888;
}

.viewinfo {
	font-family:  "Verdana", "Arial";
	color: #274779;
	height: 15px;
	text-shadow: 0 1px 1px black, 0 1px 1px #666666;
}

#selinfo {
	margin-top: 0px;
	margin-bottom: 3px;
	padding-bottom: 8px;
	color: #EEEEEE;
	width: 100%	;
}

.subviewinfo {
	font-family:  "Verdana", "Arial";
	margin: 5px 0px 0px 10px;
	color: #274779;
	height: 30px;
}

#graphiccontent {
	height: 90%;
	position: relative;
	margin-bottom: 100px;
}

#graphics {
	margin-top: 10px;
	margin-left: 10px;
	width: 95%;
	height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#imagewrapper {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	border-radius: 10px;
	position: absolute;
	z-index: -3;
}

#svgwrapper {
	margin-top: 10px;
	margin-left: 10px;
	width: 100%;
	height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

svg {
	height: 100%;
	width: 100%;
	cursor: pointer;
}

#detailview {
	width: 98%;
	height: 40%;
	background-color: #EEEEEE;
	padding: 10px 1% 30px 1%;
	box-shadow: 0 0 9px 1px black,inset 0 0 0px 1px #888;
	y-overflow: hidden;
}

#detailcontent iframe {
	width: 90%;
	height: 90%;

}


#detailcontent {
	height: 95%;
	width: 100%;
	overflow: auto;
	padding-left: 5px;
}

#detailcontent iframe {
	width: 100%;
}

rect {
	width: 100%;
	height: 100%;
	cursor: pointer;
}




.selcontent {
	float:left;
	margin-left: 10px;
	font-family:  "Verdana", "Arial";
	height: 82%;
	font-size: small;
	width: 95%;
	z-index: -1;
	overflow: auto;

}

.selcontent b {
	border-radius: 4px;
	padding: 1px;
}

.selcontent img {
	margin-top: 100px;
	margin-left: 100px;
}

#pathselection {
	float: left;
	height: 17px;
	margin-left: 10px;
	margin-top: 1px;
	margin-bottom: 0px;
}

#pathselection a {
	color:  #EEEEEE;
}

#export {
	float: right;
	background-color: #EEEEEE;
	border-radius: 2px;
	padding: 5px 5px 5px 5px;
	color: black;
	box-shadow: 0 0 1px 1px ,inset 0 0 3px 0px #888;
}

#export a {
	text-decoration: none;
	font-size: 12px;
	color: black;
}

.noSelInfo {
	margin-left: 10px;
	font-family:  "Verdana", "Arial";
	color: red;
}

.stats {
	margin-right: 10%;
	margin-left: 50%;
	margin-top: 0%;
	height:40%;
}


/* some CSS for dhtmlxtree components */
.selectedTreeRow ,.selectedTreeRow_lor{
	background-color: #274779;
	border-radius: 5px;
	color: #EEEEEE;
	box-shadow: 0 0 1px 1px ,inset 0 0 3px 0px #888;
}

.standartTreeRow_lor {
	background-color: rgb(230,230,230);
	border-radius: 5px;
}

.containerTableStyle {
	overflow : auto;
}

.crossselector, .tagger{
	border-radius: 2px;
	background-color: gray;
	float: right;
	top: 0;
	margin: 1% 2.5% 0 0;
	padding: 3px;
	font-size: 8px;
	cursor: pointer;
}

a {
	color: rgb(40,40,40);
}

.highlight {
	background-color: rgb(190,190,140);
}


.jstree-leaf a .jstree-icon {
	width: 0px;
	background-image: url();
	background-color: transparent;
}

.jstree-leaf a, .jstree-open a, .jstree-closed a {
	font-weight: normal;
}

.jstree-default .jstree-clicked, .jstree-default .jstree-hovered {
	border-radius: 2px;
}

.label > a {
	font-weight: bold;
	border-radius: 5px;
}

.color1 > a {
	background-color: #00A8F0;
}

.color2 > a {
	background-color: #C0D800;
	
}
.color3 > a {
	background-color: #CB4B4B;
}

.color4 > a {
	background-color: #4DA74D;	
}

.color5 > a {
	background-color: #9440ED;	
}

.label a .jstree-icon{
	width: 0px;
	background-image: url();
}