<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/atl2/org/softlang/Total.atl"/>
<stringAttribute key="ATL VM" value="Regular VM (with debugger)"/>
<booleanAttribute key="AllowInterModelReferences" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="Company"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="Model Handler">
<mapEntry key="Company" value="EMF"/>
<mapEntry key="Total" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="Company" value="METAMODELINPUT"/>
<mapEntry key="Total" value="METAMODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="Total"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IN" value="/atl2/org/softlang/data/sampleCompany2008.xmi"/>
<mapEntry key="OUT" value="/atl2/org/softlang/data/total2008.xmi"/>
<mapEntry key="Company" value="/atl2/org/softlang/ecore/Company.ecore"/>
<mapEntry key="Total" value="/atl2/org/softlang/ecore/Total.ecore"/>
</mapAttribute>
<stringAttribute key="Project Name" value="atl2"/>
<listAttribute key="Superimpose"/>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<booleanAttribute key="step" value="false"/>
</launchConfiguration>
